.SharedProfileContainer{
    position: relative;
}

.SharedProfileImage{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.253);
    object-fit: cover;
    
}

.SharedProfileToolTip{
    width: fit-content;
    word-break: keep-all;
    position:absolute;
    background-color: #47C8EC;
    color: #FFF;
    padding: 5px 7px;
    border-radius: 10px;
    box-shadow:  1px 1px rgb(71 200 236 / 50%);
    top: 15px;
}