.CreatedListContainer {
  transition: 300ms;
  display: flex;
  width: 340px;
  height: 48px;
  border-radius: 21px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 10px;
  margin-top: 10px;
  padding: 0px 15px;
  cursor: pointer;
}

.listLinkContainer {
  display: flex;
  width: 80%;
  height: 100%;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

.bin {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35%;
  height: 40px;
  width: 40px;
}

.bin img {
  height: 60%;
  width: 60%;
}

.bin:active {
  transition: 300ms;
  transform: scale(0.9);
}

.bin:hover {
  transition: 300ms;
  transform: scale(1.1);
}



.list-1 {
    background: linear-gradient(264.89deg, #86e4fd 0%, #47c8ec 100%);
    box-shadow: 0px 4px 4px rgba(71, 200, 236, 0.5);
    border-radius: 21px;
  }
  
.list-2 {
    background: linear-gradient(264.89deg, #f3abc4 0.11%, #f25786 99.59%);
    box-shadow: 0px 4px 4px #f3abc4;
    border-radius: 21px;
  }
  
.list-3 {
    background: linear-gradient(264.89deg, #9fb4ff 0%, #ac43ff 100%);
    box-shadow: 0px 4px 4px #A1AAFF;
    border-radius: 21px;
  }
  
.list-4 {
    background: linear-gradient(264.89deg, #ffd29f 0%, #ffa843 100%);
    box-shadow: 0px 4px 4px #ffd29f;
    border-radius: 21px;
}
